{% extends 'core/base.html' %}
{% load cache %}

{% block title %}{{block.super}}{% endblock title %}

{% block body %}
<div class="top-bar">
  <h1 class="title" style="margin-bottom: 0">Top Questions</h1>

  <div class="tabs is-toggle">
    <ul>
      <li class="{% if not 'sort' in request.GET %} is-active {% endif %}">
        <a href="{% url 'qanda:home' %}">
          <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Top&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        </a>
      </li>
      <li class="{% if 'sort' in request.GET and request.GET.sort == 'newest'%} is-active {% endif %}">
        <a href="{% url 'qanda:home' %}?sort=newest">
          <span>Newest</span>
        </a>
      </li>
      <li class="{% if 'sort' in request.GET and request.GET.sort == 'answered'%} is-active {% endif %}">
        <a href="{% url 'qanda:home' %}?sort=answered">
          <span>Answered</span>
        </a>
      </li>
    </ul>
  </div>
</div>
<hr>
<div class="columns">
  <div class="column is-9">
    {% include "qanda/common/list_questions.html" %}
    {% if is_paginated %}
    <nav class="pagination" role="navigation" aria-label="pagination">
      {% if page_obj.has_previous %}
      <a class="pagination-previous"
        href="?page={{ page_obj.previous_page_number }}{% if request.GET.sort %}&sort={{request.GET.sort}}{% endif %}">Previous</a>
      {% else %}
      <a class="pagination-previous" disabled>Previous</a>
      {% endif %}
      {% if page_obj.has_next %}
      <a class="pagination-next"
        href="?page={{ page_obj.next_page_number }}{% if request.GET.sort %}&sort={{request.GET.sort}}{% endif %} ">Next
        page</a>
      {% else %}
      <a class="pagination-previous" disabled>Next Page</a>
      {% endif %}
      <ul class="pagination-list">
        {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
        <a class="pagination-link is-current">{{i}}</a>
        </li>
        {% else %}
        <li>
          <a class="pagination-link"
            href="?page={{ i }}{% if request.GET.sort %}&sort={{request.GET.sort}}{% endif %}">{{ i }}</a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </nav>
    {% endif %}
  </div>
  <div class="column is-3">
    <article class="message">
      <div class="message-header">
        <p>Latest Answers</p>
      </div>
      <div class="message-body">
        {% cache 300 latest_answers %}
        {% for answer in last_answers %}
        <p class="is-size-6">{{answer.score}} <a class="has-text-info"
            href="{% url 'qanda:question-detail' pk=answer.question.id title=answer.question.title_as_hyphen %}">{{ answer.question.title }}</a>
          <span class="is-size-7"> by </span><strong class="is-size-7">{{answer.user}}</strong></p>
        <hr style="margin: 0.2em 0; height: 1px">
        {% endfor %}
        {% endcache %}
      </div>
    </article>
    <h2 class="title is-size-4" style="margin-bottom: 0.5em">Top Contributors</h2>
    {% for user in top_users %}
    <p class="is-size-5">{{user.score}} {{user}}</p>
    {% endfor %}
  </div>
</div>

{% endblock body %}