html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

#content-wrap {
  flex: 1 0 auto;
}

#search-box {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#search-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.footer {
  flex-shrink: 0;
  color: white;
  padding: 0.5em 1.7em;
}

#content-footer {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}

.footer a:hover {
  color: #D4D4D4
}

.footer-list-item {
  list-style: none;
}

.footer-list hr {
  margin: 0 0 10px 0;
}

.list-title {
  color: #afacac;
  font-size: 1.3em;
}

#f-right-side {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#f-right-side li {
  display: inline;
  margin-right: 1.2em;
}

#f-right-side li:last-child {
  margin-right: 0;
}

.options {
  display: flex;
  justify-content: flex-start;
}

.options button {
  margin: 1em 1em 0 0;
}

@media only screen and (max-width: 600px) {
  #content-footer {
    flex-direction: column;
  }

  .top-bar {
    flex-direction: column;
    justify-content: center;
  }

  .top-bar h1 {
    margin-bottom: 0.5em !important;
    margin: 0 auto;
    text-align: center;
    /* margin: inherit; */
    /* color: blue; */
  }

  .top-bar .tabs {
    margin: 0 auto;
  }

  .question-stats {
    justify-content: space-around !important;
  }
}

hr {
  background-color: #d2d2d2;
}

#accepted {
  background-color: hsl(0, 0%, 86%);
}

.login-box {
  max-width: 450px;
  margin: 0 auto;
  /* background-color: red; */
  border: 2px solid gray;
  padding: 10px;
  padding-top: 30px;
  border-radius: 5px;
}

.login-box .subtitle {
  margin-bottom: 0.5em;
}

.login-box .button {
  margin-left: 40%;
}

#login-separator {
  max-width: 450px;
  margin: 0 auto;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.question .column.is-2 {
  display: flex;
  /* flex-direction: column; */
  flex-shrink: 0;
  /* align-items: flex-start; */
}

.question-stats {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: auto; */
}

.question-stats li {
  /* margin-right: 20px; */
  /* padding: 0 0.5em; */
}

.question .extra-info {
  display: flex;
  justify-content: space-between;

}